<h2>Filter Songs</h2>

<form action="/filter/director" method="get">
  Music Director: <input name="music_director"><button type="submit">Find Songs</button>
</form>

<!-- <div>OR</div> -->

<form action="/filter/director-singer" method="get">
  Music Director: <input name="music_director"><br>
  Singer: <input name="singer"><br>
  <button type="submit">Find Songs</button>
</form>

<form action="/filter/singer-film" method="get">
  Singer: <input name="singer"><br>
  Film: <input name="film"><br>
  <button type="submit">Find Songs</button>
</form>

<a href="/">Back</a>
